*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/* color ilustraciones #ffbb00*/
:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin-left: 80px;
    margin-top: 2%;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main{
    padding: 20px;
}

.header{
    width: 100%;
    height: 600px;
    top: 0;
    position: relative;
    display: flex;
    background-image: linear-gradient(to right, hsla(0, 0%, 26%, 0.514) 0%, hsla(0, 0%, 0%, 0.616) 100%), url(img/background/background-image.jpg);
    background-size: cover;
    /*background-attachment: fixed;*/
}

.header h1{
    font-family: 'Anton';
}

.header .h1{
    font-family: 'Anton';
    color: #ffbb00;
}

/*Inicio navbar*/
header{
    width: 100%;
    height: 8%;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.icon_menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon_menu img{
   width: 30px;
   cursor: pointer;
   position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background:#ffbb00;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #ffbb00;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, opera y safari*/
.menu__side::-webkit-scrollbar{
    display: none;
}
/*Ocultar scroll para Firefox, edge y ie*/
.menu__side{
    -ms-overflow-style:none;
    scrollbar-width:none;
}


.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.option__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;

}

.option__menu a{
    text-decoration: none;
    color: #000;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.option__menu a:hover{
    color: #ffffffb2;
}

.option__menu .option{
    padding: 20px 0;
    display: flex;
    align-items:center;
    position: relative;
}

.option__menu .option box-icon{
    
    margin-right:20px;
    cursor: pointer;
}
.option__menu .option h4{
    font-weight: 300;   
    font-size: 20px;
    cursor: pointer;
}

a.selected{
    color: #ffffffb2;
}

.selected::before{
    content: '';
    width: 3px;
    height: 80%;
    background: #000;
    position: absolute;
    top:10%;
    left: -30px;
}

/*clases para js*/

.body_move{
    margin-left: 250px;
}

.menu__side_move{
    width: 250px;
}


/*Fin navbar*/

/* texto del header*/
.header .texto-header{
    display: flex;
    height: 430px;
    width: 100%;    
    justify-content: end;
    flex-direction: column;
    text-align: center;
}
.header .texto-subheader{
    display: flex;
    height: 430px;
    width: 100%;
    justify-content: end;
    flex-direction: column;
    text-align: center;
}

.texto-header h1{
    font-size: 40px;
    font-weight: 200;
    color: #fff;
    text-align: right;
    
}

.texto-header .h1{
    color: rgb(255, 239, 10);
    
}

.texto-subheader h3{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    margin-left: 30px;
}

.texto-subheader p{
    width: 40%;
    color: #fff;
    text-align: left;
    margin-left: 30px;
    
}
/* Fin texto del header*/

.contenedor{
    padding: 60px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/*Seccion nuestro servicio*/

.pre-titulo{
    font-weight: 300;
    text-align: center;
}

.titulo{
    font-size: 30px;
    text-align: center;
}

.contenedor .servicio{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}


.uno{
    margin: auto;
    animation: us-move 4s linear infinite;
}

.dos{
    animation: us-move 4s linear infinite;
}

.dos-medio{
    animation: us-move 4s linear infinite;
}

.tres{
    margin: auto;
    animation: us-move 4s linear infinite;
}
.img-servicio{
    width: 90%;
    z-index: 1;
}
@keyframes us-move {

    0%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(15px);
    }
    
}

.titulo-img{
    text-align: center;
    font-weight: 400;
    z-index: 2;  
}

.p-servicio{
    display: flex;
    text-align: center;
    font-weight:300;
    justify-content: center;
}

.uno:hover,
.dos:hover,
.dos-medio:hover,
.tres:hover{
    animation:stop;
}

/*Fin Seccion nuestro servicio*/


/*Seccion de como lo hacemos*/
.c-paso{
    display: flex;
    justify-content: center;
    cursor: default;
    height: 360px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 80%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}

.c-paso:hover{
    transform: rotateY(180deg);
}

.c-paso .frente,
.c-paso .atras{
    backface-visibility: hidden;
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
}

.c-paso .atras{
    transform: rotateY(180deg);
    margin-top: 80px;
}

.img-paso{
    width: 100%;
    z-index: 1;
}

.t-paso{
    text-align: center;
    font-weight: 500;
    z-index: 2;  
}

.p-paso{
    display: flex;
    text-align: center;
    font-weight:400;
    justify-content: center;
}




@-webkit-keyframes giro{
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

@keyframes giro{
    from{
        transform: rotateY(180deg);
    }
    to{
       transform: rotateY(0deg); 
    }

}

/*FIN Seccion de como lo hacemos*/

/*Secci贸n nosotros*/
.container__cards{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,);
}

.card{
    width: 400px;
    margin: 20px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background:rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover{
    transform: translateY(-10px);
}

.card:hover .cover__card img{
    transform:  scale(1.1);
}

.cover__card{
    width: 100%;
    height: 200px;
    border-radius: 14px;
    overflow:hidden;
}

.cover__card img{
    width: 110%;
    transition: all 300ms;
}

.card h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #000;
}

.card p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.5px;
}

.card hr{
    margin-top: 30px;
    border: none;
    height: 0.1px;
    background: #24262b;
}

.footer__card{
    margin-top: 10px;
    display: flex;
    color: #000;
    justify-content: space-between;
}

.footer__card h3{
    font-size: 15px;
    font-weight: 500;
}
/*Fin Secci贸n nosotros*/



/*Footer de La pagina */ 
.container1{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px ;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/*Iconos  de La Pagina  */
.container2{
    display: inline-flex;
    display: flex;
    justify-content: center;
}
.icons{
    display: flex;
    column-gap: 25px;
}
.icon{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: 
    outline-offset, outline-color,
    background-color;
    transition-duration: .25s;
}
.icon:hover{
    outline-offset: 4px;
}
.icon:hover i{
    animation: shake .25s;
}
.icon--instagram:hover{
    background-image: 
    radial-gradient(circle at 30% 107%,
        #fdf497 0%, #fdf497 5%,
        #fd5949 45%, #d6249f 60%,
        #285aeb 90% );
    outline-color: #a02d76;
}
.icon--linkedin:hover{
    background-color: #0077b5;
    outline-color: #0077b5;
}
.icon--github:hover{
    background-color: #4a02db ;
    outline-color: #4a02db;
}
@keyframes shake{
    10%{transform: rotate(15deg);}
    20%{transform: rotate(15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(15deg);}
}
/*Responsividad de La Pagina  */
@media  screen and (max-width: 1200px) {
    /* texto del header*/
    .header .texto-header{
       
        height: 430px;
        width: 100%;    
       
    }
    .header .texto-subheader{
        height: 440px;
        width: 100%;
    }


    .texto-subheader p{
        width: 50%;   
    }
    /* Fin texto del header*/
    

    
    /*Seccion de como lo hacemos*/
    .c-paso{  
        margin-top: 60px;
        margin-bottom: 40px;
        height: 300px;
        width: 100%;
    }


    .c-paso .atras{
        transform: rotateY(180deg);
        margin-top: 130px;
    }

    .img-paso{
        width: 120%;
        height: auto;
        z-index: 1;
    }

    .t-paso{
        text-align: center;
        font-weight: 500;
        z-index: 2;  
    }

    .p-paso{
        text-align: center;
        font-weight:400;
        justify-content: left;
    }

    /*FIN Seccion de como lo hacemos*/

    /*Secci贸n nosotros*/
    .container__cards{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
        width: 110%;
    }

    .cover__card{
        justify-content: center;
        width: 90%;
        height: 180px;
        border-radius: 14px;
        overflow:hidden;
    }

    .cover__card img{
        width: 100%;   
    }


    /*Fin Secci贸n nosotros*/
}


@media screen and (max-width: 767px ){
    /* texto del header*/
    .header .texto-header{
        height: 480px;
        justify-content: center;
        text-align: left;
        
    }
    .header .texto-subheader{
        width: 90%;
        height: 480px;
        justify-content: center;
        text-align: center;
    }


    .texto-subheader p{
        width:80%;
    
    }
    /* Fin texto del header*/



    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media  screen and (max-width: 760px) {
    /*navbar*/
    .body_move{
        margin-left: 0;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
    /*fin navbar*/
}

@media(max-width: 574px ){
    /* texto del header*/
    .header .texto-header{
        height: 480px;
        justify-content: center;
        text-align: left;
    }
    .header .texto-subheader{
        width: 100%;
        height: 480px;
        justify-content: center;
        text-align: center;
    }


    .texto-subheader p{
        width:90%;
    
    }
    /* Fin texto del header*/
    
    .footer-col{
        width: 100%;
    }
}