*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* color ilustraciones #ffbb00*/
:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden ;
}


header{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    background-image: linear-gradient(to right, hsla(0, 0%, 26%, 0.514) 0%, hsla(0, 0%, 0%, 0.616) 100%), url(/img/background/background-image.jpg);
    background-size: cover;
    /*background-attachment: fixed;*/
}

.header #btn_menu{
    display: none;
}

header h1{
    font-family: 'Anton';
}

header .h1{
    font-family: 'Anton';
    color: #ffbb00;
}

/*Inicio navbar*/
nav{
    align-items: center;
    padding: 30px 50px 0 0;
    margin-left:380px;
    position: fixed;
    z-index: 1;
    margin: auto;
}

nav ul{
    position: fixed;
    top: 0; left: 0;
    background: #262626;
    width: 100%;
    height: 50px;
    z-index: 10;
}

nav ul li{
    list-style: none;
    width: calc(100% / 5 );
    height: 100%;
    float: left;

}

nav ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

nav ul li a:hover{
    color:#fff;
    background: #ffbb00;
}
/*Fin navbar*/
/*Comienzo de scroll*/
.scrolling{
    transform: translate(400%);
    transition: transform 0.8s ease;
}
.scrolling:nth-of-type(even){
    transform: translateX(-400%);
}
.scrolling.show{
    transform: translateX(0);
}
/*Fin de scroll*/
/* Texto del header*/
header .texto-header{
    display: flex;
    height: 430px;
    width: 100%;    
    justify-content: end;
    flex-direction: column;
    text-align: center;
}
header .texto-subheader{
    display: flex;
    height: 430px;
    width: 100%;
    justify-content: end;
    flex-direction: column;
    text-align: center;
}

.texto-header h1{
    font-size: 40px;
    font-weight: 200;
    color: #fff;
    text-align: right;
}

.texto-header .h1{
    color: rgb(255, 239, 10);
    
}

.texto-subheader h3{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    margin-left: 30px;
}

.texto-subheader p{
    width: 40%;
    color: #fff;
    text-align: left;
    margin-left: 30px;
}
/* Fin texto del header*/

.contenedor{
    padding: 60px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/*Seccion nuestro servicio*/

.pre-titulo{
    font-weight: 300;
    text-align: center;
}

.titulo{
    font-size: 30px;
    text-align: center;
}
.uno{
    margin: auto;
    animation: us-move 4s linear infinite;
}

.dos{
    animation: us-move 4s linear infinite;
}

.dos-medio{
    animation: us-move 4s linear infinite;
}

.tres{
    margin: auto;
    animation: us-move 4s linear infinite;
}
.img-servicio{
    width: 90%;
    z-index: 1;
}
@keyframes us-move {
    0%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(15px);
    }
}

.titulo-img{
    text-align: center;
    font-weight: 400;
    z-index: 2;  
}

.p-servicio{
    display: flex;
    text-align: center;
    font-weight:300;
    justify-content: center;
}

.uno:hover,
.dos:hover,
.dos-medio:hover,
.tres:hover{
    animation:stop;
}

/*Fin Seccion nuestro servicio*/
/*Seccion de como lo hacemos*/
.c-paso{
    display: flex;
    justify-content: center;
    cursor: default;
    height: 360px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 80%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}

.c-paso:hover{
    transform: rotateY(180deg);
}

.c-paso .frente,
.c-paso .atras{
    backface-visibility: hidden;
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
}

.c-paso .atras{
    transform: rotateY(180deg);
    margin-top: 80px;
}

.img-paso{
    width: 100%;
    z-index: 1;
}

.t-paso{
    text-align: center;
    font-weight: 500;
    z-index: 2;  
}

.p-paso{
    display: flex;
    text-align: center;
    font-weight:400;
    justify-content: center;
}

@-webkit-keyframes giro{
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

@keyframes giro{
    from{
        transform: rotateY(180deg);
    }
    to{
       transform: rotateY(0deg); 
    }
}

/*FIN Seccion de como lo hacemos*/
/*Secci贸n nosotros*/
.container__cards{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,);
}

.card{
    width: 400px;
    margin: 20px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background:rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover{
    transform: translateY(-10px);
}

.card:hover .cover__card img{
    transform:  scale(1.1);
}

.cover__card{
    width: 100%;
    height: 200px;
    border-radius: 14px;
    overflow:hidden;
}

.cover__card img{
    width: 110%;
    transition: all 300ms;
}

.card h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #000;
}

.card p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.5px;
}

.card hr{
    margin-top: 30px;
    border: none;
    height: 0.1px;
    background: #24262b;
}

.footer__card{
    margin-top: 10px;
    display: flex;
    color: #000;
    justify-content: space-between;
}

.footer__card h3{
    font-size: 15px;
    font-weight: 500;
}
/*Fin Secci贸n nosotros*/
/*Contenido  de la Pagina*/
.info_title{
    font-size: 30px;
}
.info_items{
    font-size: 20px;
}
:focus{
    outline: none;
}
.contact_info{
    color: #fff;
    width: 100%;
    position: relative;
    display: grid;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image:  url(/img/background/background-image.jpg);
    background-size: cover;
    background-position: center center;
}


.contenedor .servicio{
    display: grid;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.contact-container{
    background: #fff;
    flex-direction: column;
    border-radius: 10px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.form-container{
    padding: 20px;

}
.contact-form{
    display: grid;
    row-gap: 1rem;
}
.contact-form input{
    width: 100%;
    padding: 8px 0px 5px;
    border: none;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid #ffbb00;
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 400;
}
.contact-form textarea{
    width: 100%;
    padding: 8px 0px 5px;
    border: none;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid #ffbb00;
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 400;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form .send-button{
    border:none;
    outline: none;
    background:rgba(254, 140, 0, 1);
    font-size:1rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
.contact-form .send-button:hover{
    background:rgba(254, 140, 0, 0.8);
    transition: 0.3s all linear;
}
/*Responsividad  del Contacto*/
@media(max-width: 845px ){
    .contact-container{
        grid-template-columns: 1fr;
        gap:1rem;
        margin-top: 5rem !important;
    }
}

/*Fin de Informacion del Contacto*/

/*Footer de La pagina */ 
.container1{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px ;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#ffbb00;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
    justify-content: center;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/*Iconos  de La Pagina  */
.container2{
    display: inline-flex;
    display: flex;
    justify-content: center;
}
.icons{
    display: flex;
    column-gap: 25px;
}
.icon{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    text-decoration: none;
    font-size: 26px;
    color: #000;
    border-radius: 50%;
    outline: 2px solid #000;
    transition-property: 
    outline-offset, outline-color,
    background-color;
    transition-duration: .25s;
}
.icon:hover{
    outline-offset: 4px;
}
.icon:hover i{
    animation: shake .25s;
}
.icon--instagram:hover{
    background-image: 
    radial-gradient(circle at 30% 107%,
        #fdf497 0%, #fdf497 5%,
        #fd5949 45%, #d6249f 60%,
        #285aeb 90% );
    outline-color: #a02d76;
}
.icon--linkedin:hover{
    background-color: #5865f2 ;
    outline-color: #5865f2;
    background-image: 
    radial-gradient(circle at 30% 107%,
        #5865f2 0%, #5865f2 5%,
        #5865f2 45%, #5865f2 60%,
        #285aeb 90% );
    outline-color: #5865f2;
}
.icon--github:hover{
    background-color: #00a884 ;
    outline-color: #00a884;
    background-image: 
    radial-gradient(circle at 30% 107%,
        #00a884 0%, #00a884 5%,
        #00a884 45%, #00a884 60%,
        #00a884 90% );
    outline-color: #00a884;
}
.svg{
    color: #fff;
    
}
@keyframes shake{
    10%{transform: rotate(15deg);}
    20%{transform: rotate(15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(15deg);}
}
/*Responsividad de La Pagina  */ 
@media  screen and (max-width: 1200px) {
    /* texto del header*/
    header .texto-header{
       
        height: 430px;
        width: 100%;    
       
    }
    header .texto-subheader{
        height: 440px;
        width: 100%;
    }


    .texto-subheader p{
        width: 50%;   
    }
    /* Fin texto del header*/
    /*Seccion de como lo hacemos*/
    .c-paso{  
        margin-top: 60px;
        margin-bottom: 40px;
        height: 300px;
        width: 100%;
    }


    .c-paso .atras{
        transform: rotateY(180deg);
        margin-top: 130px;
    }

    .img-paso{
        width: 120%;
        height: auto;
        z-index: 1;
    }

    .t-paso{
        text-align: center;
        font-weight: 500;
        z-index: 2;  
    }

    .p-paso{
        text-align: center;
        font-weight:400;
        justify-content: left;
    }

    /*FIN Seccion de como lo hacemos*/

    /*Secci贸n nosotros*/
    .container__cards{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
        width: 110%;
    }

    .cover__card{
        justify-content: center;
        width: 90%;
        height: 180px;
        border-radius: 14px;
        overflow:hidden;
    }

    .cover__card img{
        width: 100%;   
    }


    /*Fin Secci贸n nosotros*/
}
@media screen and (max-width: 767px ){
    /* texto del header*/
    header .texto-header{
        height: 480px;
        justify-content: center;
        text-align: left;
        
    }
    header .texto-subheader{
        width: 90%;
        height: 480px;
        justify-content: center;
        text-align: center;
    }


    .texto-subheader p{
        width:80%;
    
    }
    /* Fin texto del header*/
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px ){
    /* texto del header*/
    header .texto-header{
        height: 480px;
        justify-content: center;
        text-align: left;
    }
    header .texto-subheader{
        width: 100%;
        height: 480px;
        justify-content: center;
        text-align: center;
    }
    .texto-subheader p{
        width:90%;
    
    }
    /* Fin texto del header*/
    
    .footer-col{
        width: 100%;
    }
}
